.speech {
    font-family : 'Courier New', Courier, monospace;
    font-size : 16px;
    color : black;
}
.song {
    font-family :Arial, Helvetica, sans-serif;
    font-size : 16px;
    color : black;
}
.direction {
    font-family : 'Times New Roman', Times, serif;
    font-size : 14px;
    color : black;
    background-color : lightcyan;
}
.direction:hover {
    background-color : black;
    color : white;
}
.name {
    font-family: Arial, Helvetica, sans-serif;
    font-size : 20px;
    color : black;
}
.marco {
    color : red;
}
.giuseppe {
    color : green;
}
.alhambra {
    color : lightsalmon;
}
.tessa {
    color: blue;
}
.duke {
    color: purple;
}
.gianetta{
    color: hotpink;
}
.chorus {
    color: darkslategray;
}
