.speech {
    font-family : 'Times New Roman', Times, serif;
    font-size : 16px;
    color : black;
}
.song {
    font-family :Arial, Helvetica, sans-serif;
    font-size : 14px;
    color : black;
}
.direction {
    font-family: 'Courier New', Courier, monospace;
    font-size : 12px;
    color : black;
    background-color : lightcyan;
}
.direction:hover {
    background-color : black;
    color : white;
}
.name {
    font-family: Arial, Helvetica, sans-serif;
    font-size : 20px;
    color : black;
}
.mar {
    color : red;
}
.giu {
    color : green;
}
.tess {
    color: blue;
}
.duke {
    color: purple;
}
.chorus {
    color: darkslategray;
}
